{% extends "layout.html" %}
{% block content %}
<div class="error">
    <h1 >You don't have permission to do that (403)</h1>
        <p class="error-p">Please check your account and try again</p>
        <p class="error-p">It's time to go <a href="{{ url_for('home') }}"><b>home</b></a>...</p>
    </div>
{% endblock content %}