{% extends "layout.html" %}
{% block content %}

    <div class="error">
        <h1>Oops. Page Not Found (404)</h1>
        <p class="error-p">That page does not exist. Please try a different location.</p>
        <p class="error-p">It's time to go <a href="{{ url_for('home') }}"><b>home</b></a>...</p>
        
    </div>
{% endblock content %}