{% extends "layout.html" %}
{% block content %}
<br><br><br><br><br>
<div class="error">
    <h1 >Something went wrong (500)</h1>
        <p class="error-p">We are experiencing some trouble on our end. Please try again in the near future</p>
        <p class="error-p">It's time to go <a href="{{ url_for('home') }}"><b>home</b></a>...</p>
    </div>
{% endblock content %}