{% extends "layout.html" %}
{% block content %}

<style>
body {
    background-color: #f5f5f5;
    color: #ffffff;
    margin-top: 5rem;
    background-image: url('static/images/background-image.jpg');
  }

</style>

<div class="container info-section">
    <h1 class="text-center">
        About Us
    </h1>
    <p class="text-center text-secondary">
        The Cottage Cakery is a family-ran business based near Lisburn, Northern Ireland. The business was started off
        the back of several sucessful fundraising coffee mornings for MacMillan Cancer Support.
    </p>
    <img class="landing-img center-image" src="static/images/aboutus.jpg" style="width:50%">
    <p class="text-center text-secondary">
        The business owner, Nina, has always had a passion for baking and she has decided that, with the use of the
        Cottage Cakery, to spread the joy felt by her family and friends to the wider community.
    </p>
</div>


<h2 style="text-align:center">Our Values</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Communicate</h2>
                <p class="title">Effective communication results in happier customers</p>
                <p>This ensures that customers are happy to come back</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Address</h2>
                <p class="title">Addressing problems quickly and effectively</p>
                <p>We want to create a relationship with our customers</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Impress</h2>
                <p class="title">Providing the best possible product for our customers</p>
                <p>Impressing our customers will provide future business</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}