{% extends "layout.html" %}
{% block content %}
<div class="content-secrtion">

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Information</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-light") }}
            </div>
        </form>
    </div>
    <h1>Your Orders:</h1>
    <table id="orders" class="ml-0">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Item Name</th>
          <th scope="col">User Email</th>
          <th scope="col">Order Date</th>
          <th scope="col">Status</th>
        </tr>
        {% for order in order %}
        <tr>
          <td>{{ order[0] }}</td>
          <td>{{ order[1] }}</td>
          <td>{{ current_user.email }}</td>
          <td>{{ order[3].strftime('%d-%m-%Y @ %H:%M') }}</td>
          {% if order.status == "In Progress" %}
          <td class = "InProgress">{{ order.status }}</td>
          {% elif order.status == "Awaiting Confirmation" %}
          <td class = "InProgress">{{ order.status }}</td>
          {% elif order.status == "Completed" %}
          <td class = "Completed">{{ order.status }}</td>
          {% elif order.status == "Ready for Collection" %}
          <td class = "Completed">{{ order.status }}</td>
          {% elif order.status == "Cancelled" %}
          <td class = "Cancelled">{{ order.status }}</td>
          {% else %}
          <td>{{ order.status }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <br>
</div>
{% endblock content %}