{% extends "layout.html" %}
{% block content %}
<style>
    body {
        background-color: #f5f5f5;
        color: #ffffff;
        margin-top: 5rem;
        background-image: url('static/images/background-image.jpg');
    }
</style>

{% if current_user.email == "admin@cottagecakery.com" %}
<div class="text-right">  
  <td class = "text-center"><a class="btn btn-success btn-sm mb-1 mr-1" href="{{url_for('new_announcement')}}">Add Announcement</a></td>
</div>
{% endif %}
<div class="info-section">
    <h1 class="text-center">
        Announcements
    </h1>
<hr>
{% for announcement in announcements.items %}

<h1>{{announcement.title}}</h1>
<small class = "text-muted">{{announcement.date.strftime('%d-%m-%Y @ %H:%M')}}</small>

<h5 class = "text-muted">{{announcement.content}}</h5><hr>
{% if current_user.email == "admin@cottagecakery.com" %}
<div>
<a class="btn btn-secondary" style="float: right;" href="{{ url_for('view_one_announcements', announcement_id=announcement.id) }}">View</a>
</div><br><br>
{% endif %}

{% endfor %}
</div>
{% for page_num in announcements.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if announcements.page == page_num %}
<a class="btn btn-light mb-4" href="{{ url_for('announcements', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-light mb-4" href="{{ url_for('announcements', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}