{% extends "layout.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jautocalc@1.3.1/dist/jautocalc.js"></script>
    <script type="text/javascript">

        $(function () {

            function autoCalcSetup() {
                $('form#calc').jAutoCalc('destroy');
                $('form#calc tr.line_items').jAutoCalc({ keyEventsFire: true, decimalPlaces: 2, emptyAsZero: true });
                $('form#calc').jAutoCalc({ decimalPlaces: 2 });
            }
            autoCalcSetup();
        });
    </script>
</head>

<body>


    <style>
        body {
            background-image: url('static/images/background-image.jpg');
        }
    </style>
    <div class="calc-section">
        <h1 class="text-center">Product Price Calculation Tool</h1>
        <hr>

        <form id="calc">
            <table name="calc" id="calc" style="margin-left: 0px;">
                <tr>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Item Total</th>
                </tr>
                {% for ingredients in ingredients %}
                <tr class="line_items">
                    <td>{{ ingredients.id }}</td>
                    <td>{{ ingredients.name }}</td>
                    <td><input class="form-control" type="text" name="price" disabled value="{{ingredients.price}}">
                    </td>
                    <td><input class="form-control" type="text" name="qty" value="0"></td>
                    <td><input class="form-control" type="text" name="item_total" disabled value="" jAutoCalc="{qty} * {price}">
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td>Total</td>
                    <td><input class="form-control" type="text" name="sub_total" value="" jAutoCalc="SUM({item_total})"></td>
                </tr>


            </table>
        </form>
        <br>
        <div class="text-right">
            <td class="text-center"><a class="btn btn-success btn-sm mb-1 mr-1" href="{{url_for('new_ingredient')}}">Add
                    Ingredient</a></td>
            <td class="text-center"><a class="btn btn-secondary btn-sm mb-1 mr-1"
                    href="{{url_for('view_ingredients')}}">View
                    Ingredients</a></td>
        </div>
    </div>

</body>

{% endblock content %}