{% extends "layout.html" %}
{% block content %}

<h2 style="text-align:center">Admin Dashboard</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">Order Count</h2>
                <hr>
                <h2 class="w3-white">{{order_count}}</h2>
                <a class="btn-sm btn-success" style="float: middle;" href="{{ url_for('new_order')}}">Add</a>
                <a class="btn-sm btn-secondary" style="float: middle;" href="{{ url_for('view_orders')}}">View</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">Product Count</h2>
                <hr>
                <h2 class="w3-white">{{product_count}}</h2>
                <a class="btn-sm btn-success" style="float: middle;" href="{{ url_for('new_product')}}">Add</a>
                <a class="btn-sm btn-secondary" style="float: middle;" href="{{ url_for('home')}}">View</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">User Count</h2>
                <hr>
                <h2 class="w3-white">{{user_count}}</h2>
                <a class="btn-sm btn-success" style="float: middle;" href="{{ url_for('new_user')}}">Add</a>
                <a class="btn-sm btn-secondary" style="float: middle;" href="{{ url_for('view_users')}}">View</a>
            </div>
        </div>
    </div>
    <div class="column-secondary">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">Ingredient Count</h2>
                <hr>
                <h2 class="w3-white">{{ingredient_count}}</h2>
                <a class="btn-sm btn-success" style="float: middle;" href="{{ url_for('new_ingredient')}}">Add</a>
                <a class="btn-sm btn-secondary" style="float: middle;" href="{{ url_for('view_ingredients')}}">View</a>
            </div>
        </div>
    </div>
    <div class="column-secondary">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">Announcement Count</h2>
                <hr>
                <h2 class="w3-white">{{announcement_count}}</h2>
                <a class="btn-sm btn-success" style="float: middle;" href="{{ url_for('new_announcement')}}">Add</a>
                <a class="btn-sm btn-secondary" style="float: middle;" href="{{ url_for('announcements')}}">View</a>
            </div>
        </div>
    </div>
<hr class="admin">
    <div class="column-secondary">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">Most Popular Product</h2>
                <hr>
                {% for popular_item in popular_item %}
                <h1>{{popular_item.item_name}}  |  {{popular_item.qty}}</h1>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="column-secondary">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">Least Popular Product</h2>
                <hr>
                {% for unpopular_item in unpopular_item %}
                <h1>{{unpopular_item.item_name}}  |  {{unpopular_item.qty}}</h1>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="column-tertiary">
        <div class="card">
            <div class="container">
                <h2 style="color: white;">Most Loyal Customer</h2>
                <hr>
                {% for popular_user in popular_user %}
                <h1>{{popular_user.user_name}}  |  {{popular_user.qty}} orders</h1>
                {% endfor %}
            </div>
        </div>
    </div>
    
    

    
{% endblock content %}