{% extends "layout.html" %}
{% block content %}
<style>body {
    background-color: #f5f5f5;
    color: #ffffff;
    background-image: url('static/images/background-image.jpg');
  }</style>
  
    <div class="info-section">
        <h1 class="text-center">
            Frequently Asked Questions
        </h1>
        <hr>
        <h5>Can I make any special requests?</h5>
        <h6 class="text-muted">Of course! Special requests are always welcome.
            Be it a dietary requirement or an addition to your purchase such as a picture to be featured on your cake or
            the name of your loved one, simply
            send us an email to <a href="mailto:thecottagecakery@hotmail.com?subject=Contact Us Email">thecottagecakery@hotmail.com</a> along with your order number and what you wish to add and
            we'd be happy to help!</h6>
        <hr>

        <h5>Where can I find more information or announcements?</h5>
        <h6 class="text-muted">A lot of information is readily available about the Cottage Cakery! If you have any
            questions about the business,
            visit the about us section to get an overview of the company. Additionally, visit the announcements page to
            see if there are any competitions
            or offers available.</h6>
        <h6 class="text-muted">We would also appreciate it if you could follow us on our social media platforms - both
            Facebook and Instagram. Your support is greatly appreciated!</h6>

        <hr>

        <h5>How do I make ammendments/cancel my order?</h5>
        <h6 class="text-muted">If you wish to make any ammendments to your order, or wish to cancel it entirely, simply
            email <a href="mailto:thecottagecakery@hotmail.com?subject=Contact Us Email">thecottagecakery@hotmail.com</a>
            with your order number and the ammendments you wish to make or that you would like to cancel your order.
        </h6>
        <h6 class="text-muted">It should also be noted that there may be some time between cancellation of your order
            and refunds being issued as payments are handled externally.</h6>
    </div>
{% endblock content %}