{% extends "layout.html" %}
{% block content %}
<style>body {
  background-color: #f5f5f5;
  color: #ffffff;
  margin-top: 5rem;
  background-image: url('static/images/background-image.jpg');
}</style>
{% if current_user.email == "admin@cottagecakery.com" %}
<div class="text-right">  
  <td class = "text-center"><a class="btn btn-success btn-sm mb-1 mr-1" href="{{url_for('new_product')}}">Add Product</a></td>
</div>
{% endif %}
<div class="info-section">
<h1 class = "text-center">Our Products</h1>
<div class="grid-container">
  {% for product in products.items %}
  <article class="media content-section m-1">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 nav-item text-white" href="{{ url_for('product', product_id=product.id) }}">{{ product.name
          }}</a>
        <small style="float: right;"> £{{ product.price }}</small>
      </div>
      <div class="text-center">
        <a href="{{ url_for('product', product_id=product.id) }}">
          <img class="product-img" src="{{ url_for('static', filename='product_pics/' + product.product_image_file) }}">
        </a>
      </div>
      <a class="btn btn-secondary" style="float: right;" href="{{ url_for('product', product_id=product.id) }}">View</a>
    </div>
  </article>
  </a>
  {% endfor %}
</div>
</div>
{% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if products.page == page_num %}
<a class="btn btn-light mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-light mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}

{% endblock content %}