{% extends "layout.html" %}
{% block content %}

<style>
    body {
        background-image: url('static/images/background-image.jpg');
    }
</style>

<div class="info-section">
    <h2 class="text-center">Welcome to the Cottage Cakery Website!</h2>
    <h6 class="text-center text-muted">We specialise in producing the highest quality homemade goods but with a little
        bit extra on top.
        We pride ourselves on producing bespoke designs to help make your special occasions that little bit more
        special!</h6>
        <br>
    <h6 class="text-center text-muted">You will find all the information you need on this website, but please feel free
        to follow us on our social media accounts for further updates and details!</h6>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
            <img class="landing-img" src="static/images/img1.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img class="landing-img" src="static/images/img2.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img class="landing-img" src="static/images/img3.jpg" style="width:100%">
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename = 'slideshow.js')}}"></script>
{% endblock content %}