{% extends "layout.html" %}
{% block content %}


<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata row">
            <div class = "col">
            <a class="mr-2">{{ product.name }}</a>
            <small>£{{ product.price }}</small>
            </div>
            {% if current_user.email == "admin@cottagecakery.com" %}
            <div class = "col text-right">
                <a class = "btn btn-secondary btn-sm m-1" href="{{ url_for('update_product', product_id=product.id) }}">Update</a>
                <button type = "button" class = "btn btn-danger btn-sm m-1" data-toggle="modal" data-target = "#deleteModal" href="{{ url_for('delete_product', product_id=product.id) }}">Delete</button>
            </div>
            {% endif %}
        </div>
        <div class="grid-container-product">
        <div>
          <p>{{ product.description }}</p>
          <div class="article-metadata row"></div>
          <p>{{ product.notes }}</p>
          <br>
          <div class = "text-center">
            {% if current_user.is_authenticated %}
            <a id="buy_now_btn" class="btn-lg btn-success" href="{{ url_for('product', product_id=product.id) }}">Buy</a>
            {% else %}
            <a id="buy_now_btn" class="btn-lg btn-secondary" href="{{url_for('login')}}">Please log in to Buy</a>
            {% endif %}
        </div>
        </div>
        <img class = "rounded product-img" src="{{ product_image_file }}" alt="">
      </div>
      
    </div>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this product?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action = "{{ url_for('delete_product', product_id = product.id) }}" method="POST">
              <input type="submit" class = "btn btn-danger" value = "Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const checkout_public_key = '{{checkout_public_key}}';
    const checkout_session_id = '{{checkout_session_id}}';
  </script>
  <script src="{{ url_for('static', filename = 'stripe-script.js')}}"></script>
{% endblock content %}