{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="text-center">
        Thank you for your purchase!
    </h1>
    <h2 class="text-center text-secondary">
        Please allow time for your order to be processed.
    </h2>
    <p class="text-center text-secondary">
        Your order will appear on your <a href="{{ url_for('account') }}">dashboard</a> shortly where you will receive updates on its status.
    </p>
</div>
<div class="jumbotron">
    <h3 class="text-center text-secondary">
        If you wish to make any ammendments to your order, please contact thecottagecakery@hotmail.com or visit our page on <a href="https://www.facebook.com/TheCottageCakeryDrumbo">Facebook</a> and send us a message!
    </h3>
</div>
{% endblock content %}