{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class=" row">
            <div class = "col">
            <a class="mr-2">{{ user.username }}</a>
            <small>{{ user.email }}</small>
            </div>
            {% if current_user.email == "admin@cottagecakery.com" %}
            <div class = "col text-right">
                <button type = "button" class = "btn btn-danger btn-sm m-1" data-toggle="modal" data-target = "#deleteModal" href="{{ url_for('delete_user', user_id=user.id) }}">Delete</button>
            </div>
            {% endif %}
        </div>
    </div>
</article>
<table id="orders" class="ml-0">
  <tr>
    <th scope="col">Order ID</th>
    <th scope="col">Item Name</th>
    <th scope="col">User Email</th>
    <th scope="col">Order Date</th>
    <th scope="col">Status</th>
  </tr>
  {% for order in order %}
  <tr>
    <td>{{ order[0] }}</td>
    <td>{{ order[1] }}</td>
    <td>{{ current_user.email }}</td>
    <td>{{ order[3].strftime('%d-%m-%Y @ %H:%M') }}</td>
    {% if order.status == "In Progress" %}
    <td class = "InProgress">{{ order.status }}</td>
    {% elif order.status == "Awaiting Confirmation" %}
    <td class = "InProgress">{{ order.status }}</td>
    {% elif order.status == "Completed" %}
    <td class = "Completed">{{ order.status }}</td>
    {% elif order.status == "Ready for Collection" %}
    <td class = "Completed">{{ order.status }}</td>
    {% elif order.status == "Cancelled" %}
    <td class = "Cancelled">{{ order.status }}</td>
    {% else %}
    <td>{{ order.status }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this user?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action = "{{ url_for('delete_user', user_id = user.id) }}" method="POST">
              <input type="submit" class = "btn btn-danger" value = "Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}