{% extends "layout.html" %}
{% block content %}

<style>
  #orders {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #orders td,
  #orders th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #000;
  }

  #orders tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #orders tr:hover {
    background-color: #ddd;
  }

  #orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4e4e4e;
    color: white;
  }
</style>

<div class="container">
  <h1 class = "text-center">Orders</h1> 
</div>

<div class="text-right">
  <td><input type="text" id="myInput" onkeyup="searchOrders()" placeholder="Enter Order ID..." title="Enter an ID" style="width: 250px"></td>
  <td class = "text-center"><a class="btn btn-success btn-sm mb-1 mr-1" href="{{url_for('new_order')}}">Add Order</a></td>
</div>

<table id="orders" class="ml-0">
  <tr>
    <th scope="col">Order ID</th>
    <th scope="col">Item Name</th>
    <th scope="col">User Email</th>
    <th scope="col">Order Date</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
  </tr>
  {% for order in orders.items %}
  <tr>
    <td>{{ order[0] }}</td>
    <td>{{ order[1] }}</td>
    <td>{{ order.email }}</td>
    <td>{{ order[4].strftime('%d-%m-%Y @ %H:%M') }}</td>
    {% if order.status == "In Progress" %}
    <td class = "InProgress">{{ order.status }}</td>
    {% elif order.status == "Awaiting Confirmation" %}
    <td class = "InProgress">{{ order.status }}</td>
    {% elif order.status == "Completed" %}
    <td class = "Completed">{{ order.status }}</td>
    {% elif order.status == "Ready for Collection" %}
    <td class = "Completed">{{ order.status }}</td>
    {% elif order.status == "Cancelled" %}
    <td class = "Cancelled">{{ order.status }}</td>
    {% else %}
    <td>{{ order.status }}</td>
    {% endif %}
    <td class = "text-center"><a class="btn btn-info btn-sm" href="{{ url_for('view_one_order', order_id=order.id) }}">View</a></td>
  </tr>
  {% endfor %}
</table>

{% for page_num in orders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if orders.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('view_orders', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('view_orders', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
<script>
  function searchOrders() {
     var input, filter, table, tr, td, i, txtValue;
     input = document.getElementById("myInput");
     filter = input.value.toUpperCase();
     table = document.getElementById("orders");
     tr = table.getElementsByTagName("tr");
     for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
           txtValue = td.textContent || td.innerText;
           if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
           } else {
              tr[i].style.display = "none";
           }
        }
     }
  }
</script>
{% endblock content %}