{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class = "text-center">Ingredients</h1> 
</div>
<div class="text-right">
  <td><input type="text" id="myInput" onkeyup="searchIngredients()" placeholder="Enter Ingredient..." title="Type in a name" style="width: 250px"></td>
    <td class = "text-center"><a class="btn btn-success btn-sm mb-1 mr-1" href="{{url_for('new_ingredient')}}">Add Ingredient</a></td>
</div>
<table id="orders" class="ml-0">
    <tr>
      <th scope="col">Ingredient ID</th>
      <th scope="col">Ingredient Name</th>
      <th scope="col">Price per Unit (£)</th>
      <th scope="col"></th>
    </tr>
    {% for ingredient in ingredients.items %}
    <tr>
      <td>{{ ingredient.id }}</td>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.price }}</td>
      <td class = "text-center"><a class="btn btn-info btn-sm" href="{{ url_for('view_one_ingredient', ingredient_id=ingredient.id) }}">View</a></td>
    </tr>
  
    {% endfor %}
  </table>
  {% for page_num in ingredients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if ingredients.page == page_num %}
  <a class="btn btn-info mb-4" href="{{ url_for('view_ingredients', page=page_num) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{ url_for('view_ingredients', page=page_num) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}

  <script>
    function searchIngredients() {
       var input, filter, table, tr, td, i, txtValue;
       input = document.getElementById("myInput");
       filter = input.value.toUpperCase();
       table = document.getElementById("orders");
       tr = table.getElementsByTagName("tr");
       for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
             txtValue = td.textContent || td.innerText;
             if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
             } else {
                tr[i].style.display = "none";
             }
          }
       }
    }
 </script>

{% endblock content %}