{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata row">
            <div class = "col">
            <a class="mr-2">Update Order Details</a>
            </div>
            {% if current_user.email == "admin@cottagecakery.com" %}
            <div class = "col text-right">
                <a class="btn btn-secondary btn-sm" href="{{ url_for('update_order', order_id=order.id) }}">Update</a>
                <button type = "button" class = "btn btn-danger btn-sm m-1" data-toggle="modal" data-target = "#deleteModal" href="{{ url_for('delete_order', order_id=order.id) }}">Delete</button>
            </div>
            {% endif %}
        </div>
        <p>Order ID: {{order.id}}</p>
        <p>Name: {{order.user_name}}</p>
        <p>Product: {{order.item_name}}</p>
        <p>Order Date: {{order.date}}</p>
        <p>Order Status: {{order.status}}</p>
    </div>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this order?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action = "{{ url_for('delete_order', order_id = order.id) }}" method="POST">
              <input type="submit" class = "btn btn-danger" value = "Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}