body {
    background-color: #f5f5f5;
    color: #ffffff;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #e82e61;
  }
  
  p {
    color: rgb(248, 244, 244);
  }
  
  footer {
    position: fixed;
    font-size: smaller;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #22252e;
    color: #34a0e9;
    text-align: center;
    border-top: #ffffff;
  }
  
  .bg-steel {
    background-color: #3f3e3e;
    position: t;
    height: 7%
  }
  
  .site-header .navbar-nav .nav-link {
    color: #fff;
    font-size: 120%;
  }
  
  .navbar-brand {
    color: rgb(251, 251, 251);
    font-size: 150%;
    font-style: bold;
  }
  
  navbar-main{
    border-bottom:#1babe1;
    border-bottom-style: solid; 
    box-shadow: 0 0px 15px 0 #1babe1;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #d4d1d1;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .anchor {
    display: block;
    height: 115px;
    /*same height as header*/
    margin-top: -115px;
    /*same height as header*/
    visibility: hidden;
  }
  
  .content-section {
    background: #4b4b4b;
    padding: 10px 20px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .info-section {
    background: #fff;
    padding: 10px 20px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 25px;
    margin-bottom: 20px;
  }

  .calc-section {
    background: #fff;
    padding: 10px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 25px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #34a0e9;
  }
  
  .center {
    display: block;
    margin-left: 72.5%;
    width: 50%;
  }
  
  .center-text {
    text-align: center;
    margin-left: 50%;
  }
  
  a.article-title:hover {
    color: #22252e;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .logo {
    width: 50%;
    padding-top: 5%;
    align-content: center;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 27%;
    margin-right: auto;
  }
  
  .scorecard {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    align-content: center;
    margin-left: 50%;
    margin-right: auto;
  }
  
  td {
    border: 1px solid rgb(160, 160, 160);
    text-align: left;
    color: white;
    padding: 8px;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #22252e;
    color: white;
    border: 1px solid rgb(160, 160, 160);
  }
  
  tr:nth-child(even) {
    background-color: rgb(87, 77, 77);
    color: white;
  }
  
  .tb {
    border-right-color: rgb(160, 160, 160);
    color: white;
  }
  
  .cell {
    background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), #e11b1b, transparent calc(50% + 1px));
  }
  
  .ltable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 27%;
    margin-right: auto;
  }
  
  .ltd {
    border: 1px solid #444;
    text-align: left;
    padding: 8px;
  }
  
  .lth {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #444;
    color: white;
    border: 1px solid #444;
  }
  
  .ltr:nth-child(even) {
    background-color: #ff0000;
  }
  
  .centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
  }
  
  .ltb {
    border-color: white;
  }
  
  .table a {
    display: block;
    text-decoration: none;
  }
  
  .dropdown {
    position: inline;
    display: inline;
    background-color: #1bace100;
    color: #fdfdfd;
    font-size: 100%;
    border-style: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdfdfd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  
  /* Float four columns side by side */
  
  .column {
    float: left;
    width: 33.3%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
  /* Float four columns side by side */
  
  .column-header {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
  /* Remove extra left and right margins, due to padding */
  
  .row {
    margin: 0 -5px;
  }
  
  /* Clear floats after the columns */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 15px 0;
  }
  
  #main_nav ul {
    background: #22252e;
    position: t;
    height: 73%
  }
  
  #main_nav li {
    float: left;
    position: relative;
    width: 80px;
    list-style: none;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  #main_nav a {
    display: block;
    text-decoration: none;
    padding: 8px 15px;
    color: #fff;
  }
  
  #main_nav ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
  }
  
  #main_nav ul ul ul {
    left: 100%;
    top: 0;
  }
  
  #main_nav li:hover, #main_nav li:hover li {
    background: #e11b1b
  }
  
  #main_nav li li:hover, #main_nav li li:hover li {
    background: #e11b1b
  }
  
  #main_nav li li li:hover {
    background: #b6b6b6
  }
  
  #main_nav li:hover>ul {
    visibility: visible;
    opacity: 1;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: rgb(255, 0, 0);
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  
  
  @media (max-width: 1920px) {
    #wrapper {
  
    margin: 100px auto;
    margin-left: 27rem;
  }
  footer {
    position: fixed;
    font-size: smaller;
    height: 12%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #22252e;
    color:#1babe1;
    text-align: center;
    border-top: #ffffff;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f5f5f500;
    padding: 10px;
  }
  .grid-container-product {
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #4b4b4b;
    padding: 10px;
  }
  }
  
  
  @media (max-width: 1280px) {
      #wrapper {
        margin-top: 0%;
      margin-left: 9rem;
      -webkit-transform: scale(0.75, 0.75 );
    }
  
    footer {
      position: fixed;
      font-size: 10px;
      width: 100%;
      height: 16%;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
      background-color: #22252e;
      color:#1babe1;
      text-align: center;
      border-top: #ffffff;
    }
  
    .center-text{
      font-size: 20px;
      margin-bottom: 0px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 100%;
      background-color: #f5f5f500;
      padding: 10px;
    }
    .grid-container-product {
      display: grid;
      grid-template-columns: 65% 35%;
      background-color: #4b4b4b;
      padding: 10px;
    }

  }

  #orders {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #orders td,
  #orders th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #000;
  }

  #orders tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #orders tr:hover {
    background-color: #ddd;
  }

  #orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #535353;
    color: white;
  }

  #calc {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #calc td,
  #calc th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #000;
  }

  #calc tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #calc tr:hover {
    background-color: #ddd;
  }

  #calc th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #535353;
    color: white;
  }
  

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .product-img{
    border-style: solid; 
    border-color: #fd708a;
    margin: 1px;
  }

  .landing-img{
    border-style: solid; 
    border-color: #fd708a;
  }

  .InProgress{
    background-color: rgb(255, 251, 195);
  }
  
  .Cancelled{
    background-color:rgb(255, 195, 195);
  }
  
  .Completed{
    background-color: rgb(197, 255, 195);
  }

  .error{
    margin-top: 25%;
    margin-left: 25%;
  }
  .error-p{
      color: black;
  }

  * {box-sizing:padding-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column-secondary {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column-tertiary {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 #fd708a62;
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #fd708a;
}

.center-image {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

@media screen and (max-width: 767px) {
  .column {
      width: 100%;
      display: block;
  }
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
      text-align: center;
      margin-top: 10px;
      margin-left: 65%;
      background-color: #535353;
      border-color: #fd708a;
      border-style: solid;
  }
}

hr.admin {
  width: 120%;
  height: 0px;
  border-top: linear-gradient(to right, #ccc, #333, #ccc);
}

  