/*!
 * Bootstrap v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1; text-align: center;}.alert-danger
        hr{border-top-color:#e4b9c0}
    .alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6; text-align: center;}.alert-success
    hr{border-top-color:#c9e2b3}